## 9. Polars: connect to a database

In [1]:
!wget https://frenzy86.s3.eu-west-2.amazonaws.com/python/data/weather_2012.sqlite
!wget https://frenzy86.s3.eu-west-2.amazonaws.com/python/data/weather_2012.csv

path = "weather_2012.csv"
path1 = "weather_2012.sqlite"

--2024-11-07 07:38:58--  https://frenzy86.s3.eu-west-2.amazonaws.com/python/data/weather_2012.sqlite
Resolving frenzy86.s3.eu-west-2.amazonaws.com (frenzy86.s3.eu-west-2.amazonaws.com)... 52.95.149.10, 3.5.244.121, 3.5.245.19, ...
Connecting to frenzy86.s3.eu-west-2.amazonaws.com (frenzy86.s3.eu-west-2.amazonaws.com)|52.95.149.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7168 (7.0K) [application/octet-stream]
Saving to: ‘weather_2012.sqlite’

weather_2012.sqlite 100%[===================>]   7.00K  --.-KB/s    in 0s

2024-11-07 07:38:58 (173 MB/s) - ‘weather_2012.sqlite’ saved [7168/7168]

--2024-11-07 07:38:59--  https://frenzy86.s3.eu-west-2.amazonaws.com/python/data/weather_2012.csv
Resolving frenzy86.s3.eu-west-2.amazonaws.com (frenzy86.s3.eu-west-2.amazonaws.com)... 52.95.149.10, 3.5.244.121, 3.5.245.19, ...
Connecting to frenzy86.s3.eu-west-2.amazonaws.com (frenzy86.s3.eu-west-2.amazonaws.com)|52.95.149.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 503772 (492K) [text/csv]
Saving to: ‘weather_2012.csv’

weather_2012.csv    100%[===================>] 491.96K  1.05MB/s    in 0.5s

2024-11-07 07:39:00 (1.05 MB/s) - ‘weather_2012.csv’ saved [503772/503772]

In [2]:
!pip install connectorx -q

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 32.0/32.0 MB 18.0 MB/s eta 0:00:00

In [3]:
import polars as pl

print(pl.__version__)

1.9.0

In [4]:
from pathlib import Path
import sqlite3

# 9.1 Reading data from SQL databases

So far we've only talked about reading data from CSV files. That's a pretty common way to store data, but there are many others! Polars has a number of I/O methods at its disposal (see the [documentation](https://pola-rs.github.io/polars/py-polars/html/reference/io.html) for a full list of options). In this chapter we'll talk about reading data from SQL databases.

You can read data from a SQL database using the `pl.read_database` function. `read_database` will automatically convert SQL column names to DataFrame column names.

`read_database` takes 2 arguments: a query statement and a connection URI. This is great because it means you can read from *any* kind of SQL database -- it doesn't matter if it's MySQL, SQLite, PostgreSQL, or something else.

This example reads from a SQLite database, but any other database would work the same way.

In [5]:
read_db_path = Path(path1).absolute()
read_uri = f"sqlite:////{read_db_path}"

In [6]:
query = """
SELECT * from weather_2012
LIMIT 3

"""

df = pl.read_database_uri(query, read_uri)
df

shape: (3, 3)
┌─────┬─────────────────────┬──────┐
│ id  ┆ date_time           ┆ temp │
│ --- ┆ ---                 ┆ ---  │
│ i64 ┆ datetime[ns]        ┆ f64  │
╞═════╪═════════════════════╪══════╡
│ 1   ┆ 2012-01-01 00:00:00 ┆ -1.8 │
│ 2   ┆ 2012-01-01 01:00:00 ┆ -1.8 │
│ 3   ┆ 2012-01-01 02:00:00 ┆ -1.8 │
└─────┴─────────────────────┴──────┘

# 9.2 Writing to a SQLite database

Polars has a `write_database` function which creates a database table from a dataframe. Let's use it to move our 2012 weather data into SQL.

In [7]:
weather_df = pl.read_csv(path)
write_db_path = Path(path1).absolute()
write_uri = f"sqlite:////{write_db_path}"

con = sqlite3.connect(write_db_path)
con.execute("DROP TABLE IF EXISTS weather_2012")

weather_df.write_database("weather_2012", write_uri)

8784

We can now read from the `weather_2012` table in  `test_db.sqlite`, and we see that we get the same data back:

In [8]:
query = """
SELECT * from weather_2012
LIMIT 3

"""

df = pl.read_database_uri(query, write_uri)
df

shape: (3, 8)
┌────────────┬──────────┬────────────┬────────────┬────────────┬───────────┬───────────┬───────────┐
│ Date/Time  ┆ Temp (C) ┆ Dew Point  ┆ Rel Hum    ┆ Wind Spd   ┆ Visibilit ┆ Stn Press ┆ Weather   │
│ ---        ┆ ---      ┆ Temp (C)   ┆ (%)        ┆ (km/h)     ┆ y (km)    ┆ (kPa)     ┆ ---       │
│ str        ┆ f64      ┆ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ str       │
│            ┆          ┆ f64        ┆ i64        ┆ i64        ┆ f64       ┆ f64       ┆           │
╞════════════╪══════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╡
│ 2012-01-01 ┆ -1.8     ┆ -3.9       ┆ 86         ┆ 4          ┆ 8.0       ┆ 101.24    ┆ Fog       │
│ 00:00:00   ┆          ┆            ┆            ┆            ┆           ┆           ┆           │
│ 2012-01-01 ┆ -1.8     ┆ -3.7       ┆ 87         ┆ 4          ┆ 8.0       ┆ 101.24    ┆ Fog       │
│ 01:00:00   ┆          ┆            ┆            ┆            ┆           ┆           ┆           │
│ 2012-01-01 ┆ -1.8     ┆ -3.4       ┆ 89         ┆ 7          ┆ 4.0       ┆ 101.26    ┆ Freezing  │
│ 02:00:00   ┆          ┆            ┆            ┆            ┆           ┆           ┆ Drizzle,F │
│            ┆          ┆            ┆            ┆            ┆           ┆           ┆ og        │
└────────────┴──────────┴────────────┴────────────┴────────────┴───────────┴───────────┴───────────┘

The nice thing about having your data in a database is that you can do arbitrary SQL queries. This is cool especially if you're more familiar with SQL. Here's an example of sorting by the Weather column:

In [9]:
query = """
SELECT * from weather_2012
ORDER BY Weather
LIMIT 3

"""

df = pl.read_database_uri(query, write_uri)
df

shape: (3, 8)
┌─────────────┬──────────┬─────────────┬─────────┬─────────────┬────────────┬────────────┬─────────┐
│ Date/Time   ┆ Temp (C) ┆ Dew Point   ┆ Rel Hum ┆ Wind Spd    ┆ Visibility ┆ Stn Press  ┆ Weather │
│ ---         ┆ ---      ┆ Temp (C)    ┆ (%)     ┆ (km/h)      ┆ (km)       ┆ (kPa)      ┆ ---     │
│ str         ┆ f64      ┆ ---         ┆ ---     ┆ ---         ┆ ---        ┆ ---        ┆ str     │
│             ┆          ┆ f64         ┆ i64     ┆ i64         ┆ f64        ┆ f64        ┆         │
╞═════════════╪══════════╪═════════════╪═════════╪═════════════╪════════════╪════════════╪═════════╡
│ 2012-01-03  ┆ -16.9    ┆ -24.8       ┆ 50      ┆ 24          ┆ 25.0       ┆ 101.74     ┆ Clear   │
│ 19:00:00    ┆          ┆             ┆         ┆             ┆            ┆            ┆         │
│ 2012-01-05  ┆ -7.1     ┆ -14.4       ┆ 56      ┆ 11          ┆ 25.0       ┆ 100.71     ┆ Clear   │
│ 18:00:00    ┆          ┆             ┆         ┆             ┆            ┆            ┆         │
│ 2012-01-05  ┆ -9.2     ┆ -15.4       ┆ 61      ┆ 7           ┆ 25.0       ┆ 100.8      ┆ Clear   │
│ 19:00:00    ┆          ┆             ┆         ┆             ┆            ┆            ┆         │
└─────────────┴──────────┴─────────────┴─────────┴─────────────┴────────────┴────────────┴─────────┘

If you have a PostgreSQL database or MySQL database, reading from it works exactly the same way as reading from a SQLite database.

# 9.3 Connecting to other kinds of database

To connect to a MySQL database:

*Note: For these to work, you will need a working MySQL / PostgreSQL database, with the correct localhost, database name, etc.*

In [ ]:
pl.read_database_uri("select * from MY_TABLE", "mysql://username:password@server:port/database")

To connect to a PostgreSQL database:

In [ ]:
pl.read_database_uri("select * from MY_TABLE", "postgresql://username:password@server:port/database")

<style>
    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
    }
    div.cell{
        width:800px;
        margin-left:16% !important;
        margin-right:auto;
    }
    h1 {
        font-family: Helvetica, serif;
    }
    h4{
        margin-top:12px;
        margin-bottom: 3px;
       }
    div.text_cell_render{
        font-family: Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        line-height: 145%;
        font-size: 130%;
        width:800px;
        margin-left:auto;
        margin-right:auto;
    }
    .CodeMirror{
            font-family: "Source Code Pro", source-code-pro,Consolas, monospace;
    }
    .text_cell_render h5 {
        font-weight: 300;
        font-size: 22pt;
        color: #4057A1;
        font-style: italic;
        margin-bottom: .5em;
        margin-top: 0.5em;
        display: block;
    }
    
    .warning{
        color: rgb( 240, 20, 20 )
        }